<div class="d-flex align-items-center mt-1 px-0">
  <h3 title="Dashboard" class="pr-2 mr-auto text-secondary">
    <strong>Employee Tasks</strong>
    <h6 title="Dashboard" class="text-secondary">
      <strong>Total : {{ count ?? '' }}</strong>
    </h6>
  </h3>
  <div class="p-2">
    <input
      type="text"
      maxlength="100"
      class="form-control"
      [(ngModel)]="searchValue"
      placeholder="Search..."
      (input)="onQuickFilterChanged()"
    />
  </div>
  <div class="pl-2 pr-0">
    <button class="btn btn-outline-dark" (click)="open(content)">
      Add Task
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ag-grid-angular
      #agGrid
      style="height: 400px"
      id="myGrid"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
      [paginationPageSize]="pageSize"
      [suppressPaginationPanel]="true"
      [suppressRowClickSelection]="true"
    ></ag-grid-angular>
  </div>
</div>
<div class="row border-0" *ngIf="showPagination">
  <div class="d-flex align-items-center pt-0">
    <div class="p-2 pr-3 pl-0">
      <strong *ngIf="rowData.length > 0">
        Showing {{ (page - 1) * pageSize + 1 }}-{{
          page * pageSize < rowData.length ? page * pageSize : rowData.length
        }}
        of {{ rowData.length }} entries
      </strong>
    </div>
    <div class="p-2">
      <div class="float-right pt-3 px-3">
        <ngb-pagination
          class="rounded"
          [page]="page"
          [pageSize]="pageSize"
          [collectionSize]="rowData.length"
          [maxSize]="2"
          [boundaryLinks]="false"
          [directionLinks]="rowData.length > 10"
          (pageChange)="onPageChange($event)"
        >
          <ng-template ngbPaginationFirst>First</ng-template>
          <ng-template ngbPaginationLast>Last</ng-template>
          <ng-template ngbPaginationPrevious
            ><span class="p-2">Previous</span></ng-template
          >
          <ng-template ngbPaginationNext
            ><span class="p-2">Next</span></ng-template
          >
          <ng-template ngbPaginationEllipsis>...</ng-template>
          <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
        </ngb-pagination>
      </div>
    </div>
    <div class="p-2 ml-auto pagination-wrapper">
      <div class="pagination-controls">
        <div class="pagination-row-selection">
          <label for="row-select">Rows per page:</label>
          <select
            id="row-select"
            [ngModel]="pageSize"
            (change)="onItemsPerPageChange($event)"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss({ action: 'Cross click', value: description })"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="taskDetails">Description</label>
        <textarea
          name="taskDetails"
          class="form-control"
          id="taskDetails"
          rows="3"
          [(ngModel)]="description"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close({ action: 'Cross click', value: description })"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-dark"
      (click)="modal.close({ action: 'Save click', value: description })"
    >
      Submit
    </button>
  </div>
</ng-template>
