<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Login</h4>

    <div class="card-body">
      <div class="form-icon p-2 pl-0">
        <i class="fa fa-user-circle"></i>
        <span class="signup"><a>Don't have account? Signup</a></span>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <span class="input-icon">
                <fa-icon [icon]="faEnvelope"></fa-icon> </span
            ></span>
            <input
              type="text"
              formControlName="username"
              aria-label="Username"
              class="form-control"
              placeholder="Email Address"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            />
          </div>
          <div
            *ngIf="submitted && f['username'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['username'].errors['required']">
              Username is required
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <span class="input-icon">
                <fa-icon [icon]="faLock"></fa-icon> </span
            ></span>
            <input
              type="password"
              formControlName="password"
              aria-label="password"
              class="form-control"
              placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
          </div>
          <div
            *ngIf="submitted && f['password'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['password'].errors['required']">
              Password is required
            </div>
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="py-2">
            <span class="float-right">Forgot Password?</span>
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="py-2">
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Login
            </button>
          </div>
        </div>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
